
<h2>Welcome to the posts page</h2>
<p>{{this.user}}</p>
<div>
<img src={{this.pictureURL}} alt="profile-photo">
</div>

<form  action="/profile" method="post"  enctype="multipart/form-data">
    <label for="photo">File</label>
    <input type="file" name="photo">
    <label for="content">Content</label>
    <input type="text" name="content">

    <button type="submit">Create Post</button>
</form>
<form  action="/user" method="post"  enctype="multipart/form-data">
<input type="file" name="image">
<button type="submit">Profile image</button>
</form>


{{!-- <a href="/show-posts">Show Posts</a> --}}
 <a href="/event">Create an event</a>
 <a href="/maps">Show Skateparks</a>

